*{

    box-sizing: border-box;
}

body{
    
    overflow-x: hidden;
    overflow-y: hidden;
}


.carousel-indicators .active{

   background-color: blueviolet;
   transform: scale(1.25);

}

#mainSlider .carousel-inner, #mainSlider .carousel-item {

    height: 100vh;
    width: 100vw;
}

#mainSlider .carousel-caption h2{

    margin-bottom: 20px;
    font-size: 40px;
    color: #bd0071;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}